<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
 <link rel="stylesheet" type="text/css" href="/userstyles.css" /> 
  </head>

  <body>
    <div style="background-image: url('/public/images/solemnlyswear.jpg');"></div>
    <h1>Welcome to <%= user.name %>'s Profile Page</h1>
    <%if (user.house){ %>
      <h4> You are a proud member of house: <%= user.house%></h4>
     <%}%>
     <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
        <select name="house">
          <option value="no house">update house here</option>;
          <option value="Gryffindor">Gryffindor</option>;
          <option value="Hufflepuff">Hufflepuff</option>;
          <option value="Ravenclaw">Ravenclaw</option>;
          <option value="Slytherin">Slytherin</option>;
          </select>
          <br></br>
          <br><br />
     <div class = "form">
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form>
    <br />
    <form action="/users/profile/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>
  </div> 
    <br /><br />
  <div>Check out your list of favorites so far:</div><br><br>
  <% for (let i = 0; i < favorites.length; i++) { %>
    <li><a href="/characters/<%= favorites[i].characterId%>"><%= favorites[i].characterName %></a></li>
    <form action="/users/deletefav/<%=favorites[i].id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
    </form>
    <% } %> 
    
  <div class = 'navlinks'> 
    <a href="/">Back to Homepage</a><br><br>
    <a href='/houses/'>Go check out the Houses page</a><br><br>
    <a href='/characters/'>Go check out the characters page to add them to your favorites</a><br>
  </div> 
  </body>
</html>
