<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/characterstyles.css">
    <title>Char Profile</title>
  </head>
  <body>
    <h1>~<%= character.name %>~</h1>
    <ul class="Check out this character">
    <li>is <%= character.species %> with a blood status of <%= character.bloodStatus %> </li>
    <li>is a <%= character.role %> at <%= character.school %>in <%=character.house%> house.</li>
      <li>is a member of the Ministry of Magic <%= character.ministryOfMagic %></li>
      <li>is a member of the Order of the Phoenix <%= character.orderOfThePhoenix %></li>
      <li>is a member of Dumbledore's Army <%= character.dumbledoresArmy %></li>
<br><br>
      Other fun facts about <%= character.name %> include
      <li><%= character.name %>'s wand is made of <%= character.wand %></li>
      <li>Patronus -  <%= character.patronus %></li>
      <li>Alias -  <%= character.alias %></li>
      <li>Boggart -  <%= character.boggart %></li>
      <li>Animagus -  <%= character.animagus %></li>
      <img src="<%= character.imageurl%>" alt="character image"/>

    </ul>
    <form action="/users/addtofavorites" method="POST">
        <input type="hidden" value=<%= character.id %> name="characterId"/>
        <input type="hidden" value=<%= character.house %> name="houseId"/>
        <input type="hidden" value=<%= character.name %> name="characterName"/>
        <button type="submit" >Add to your favorites!</button>
         </form>
         <form action="/characters/addurltocharacter/<%=character.id%>?_method=PUT
            " method="POST">
            <input type="url" name="imageurl"/>
            <button type="submit" >add a URL for the best image for this character!</button>
             </form>
    <a href="/characters/">Check out all the characters</a>
    <br /><br />
  </body>
</html>